@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
.contact-info{
    font-family: PoppinsBold;
    color: #cbd0d8;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 50px;
}
.contact-subinfo{
    font-family: PoppinsBold;
    color: #abb2bf;
    margin-left: 400px;
    font-size: 20px;
    width: 700px;
}
.contact-divider{
    width: 50%;
    height: 2px;
    border-width: 0;
    background-color: #e75e03;
}
.email-at-text{
    font-size: 15px;
    color: #e75e03;
    font-weight: 100;
    font-family: PoppinsBold;
    font-size: 30px;
    text-align: center;
    display: inline;
}
.email-text{
    font-size: 15px;
    color: #abb2bf;
    font-weight: 100;
    font-family: PoppinsBold;
    font-size: 30px;
    text-align: center;
    display: inline;
}
.email-container{
    text-align: center;
}
.top-margin{
    margin-top: 350px;
}