@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
.background{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,18,32,1) 45%, rgba(10,25,47,1) 100%);
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.home-text{
    font-family: PoppinsBold;
    color: #cbd0d8;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    font-size: 2rem;
}
.home-toptext{
    font-size: 0.5rem;
    display: inline;
    color: #e75e03;
    font-weight: normal;
    font-family: PoppinsBold;
    margin-left: 1rem;
}
.home-about-text{
    font-family: PoppinsBold;
    color: #abb2bf;
    margin-left: 1rem;
    font-size: 0.6rem;
    margin-bottom: -0.7rem;
}
.home-divider{
    width: 20rem;
    height: 2px;
    border: 0;
    background-color: #e75e03;
}
.divider-container{
    padding-top: 2rem;
    padding-left: 1rem;
    margin-right: 10rem;
}
.welcome-title{
    font-family: PoppinsBold;
    color: #cbd0d8;
    padding: 0;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.welcome-text{
    font-family: PoppinsBold;
    color: #abb2bf;
    margin-left: 1rem;
    font-size: 0.6rem;
    display: inline;
}
.counter-margin{
    margin-left: 0.3rem;
}
.about-link-text{
    font-size: 0.6rem;
    color: #e75e03;
    font-weight: normal;
    font-family: PoppinsBold;
    margin-left: 0.3rem;
    display: inline;
}
.bottom-message-text{
    font-family: PoppinsBold;
    color: #abb2bf;
    margin-left: 0.5rem;
    font-size: 0.6rem;
    width: 20rem;
}
/* xs */
@media (min-width: 475px) {
    .container{
        max-width: 475px;
        margin-left: auto;
        margin-right: auto;
    }
    .home-text{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        font-size: 3rem;
    }
    .home-toptext{
        font-size: 0.9rem;
        display: inline;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 1rem;
    }
    .home-about-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.8rem;
        margin-bottom: -0.8rem;
    }
    .home-divider{
        width: 25rem;
        height: 2px;
        border: 0;
        background-color: #e75e03;
    }
    .divider-container{
        padding-top: 2rem;
        padding-left: 1rem;
        margin-right: 10rem;
    }
    .welcome-title{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 2rem;
    }
    .welcome-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.8rem;
        display: inline;
    }
    .counter-margin{
        margin-left: 0.3rem;
    }
    .about-link-text{
        font-size: 0.8rem;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 0.3rem;
        display: inline;
    }
    .bottom-message-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 0.5rem;
        font-size: 0.7rem;
        width: 20rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .container{
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
    .home-text{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        font-size: 4rem;
    }
    .home-toptext{
        font-size: 1.2rem;
        display: inline;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 1rem;
    }
    .home-about-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.9rem;
        margin-bottom: -0.9rem;
    }
    .home-divider{
        width: 30rem;
        height: 2px;
        border: 0;
        background-color: #e75e03;
    }
    .divider-container{
        padding-top: 2rem;
        padding-left: 0.5rem;
        margin-right: 10rem;
    }
    .welcome-title{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 2.5rem;
    }
    .welcome-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.9rem;
        display: inline;
    }
    .counter-margin{
        margin-left: 0.3rem;
    }
    .about-link-text{
        font-size: 0.9rem;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 0.3rem;
        display: inline;
    }
    .bottom-message-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        width: 20rem;
    }
}

/* md */
@media (min-width: 768px) {
    .container{
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .home-text{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        font-size: 4.3rem;
    }
    .home-toptext{
        font-size: 1.2rem;
        display: inline;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 1rem;
    }
    .home-about-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.9rem;
        margin-bottom: -0.9rem;
    }
    .home-divider{
        width: 35rem;
        height: 2px;
        border: 0;
        background-color: #e75e03;
    }
    .divider-container{
        padding-top: 2rem;
        padding-left: 0.5rem;
        margin-right: 10rem;
    }
    .welcome-title{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 2.5rem;
    }
    .welcome-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 1rem;
        font-size: 0.9rem;
        display: inline;
    }
    .counter-margin{
        margin-left: 0.3rem;
    }
    .about-link-text{
        font-size: 0.9rem;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 0.3rem;
        display: inline;
    }
    .bottom-message-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        width: 20rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
        margin-top: 11rem;
        margin-left: auto;
        margin-right: auto;
    }
    .home-text{
        font-family: PoppinsBold;
        color: #cbd0d8;
        margin-left: 6.1rem;
        font-size: 4.5rem;
    }
    .home-toptext{
        font-size: 1rem;
        display: inline;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 6.1rem;
    }
    .home-about-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 6.1rem;
        font-size: 1rem;
        margin-bottom: -1rem;
    }
    .home-divider{
        width: 35rem;
        height: 2px;
        border: 0;
        background-color: #e75e03;
    }
    .divider-container{
        padding-top: 3rem;
        margin-right: 40rem;
        padding-left: 6rem;
    }
    .welcome-title{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin-top: 3rem;
        margin-left: 6rem;
        font-size: 2rem;
    }
    .welcome-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 6rem;
        font-size: 1rem;
        display: inline;
    }
    .counter-margin{
        margin-left: 0.3rem;
    }
    .about-link-text{
        font-size: 1rem;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 0.3rem;
        display: inline;
    }
    .bottom-message-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: 0.3rem;
        font-size: 0.8rem;
        width: 20rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
        margin-top: 11rem;
        margin-left: auto;
        margin-right: auto;
    }
    .home-text{
        font-family: PoppinsBold;
        color: #cbd0d8;
        margin-left: -20rem;
        font-size: 4.5rem;
    }
    .home-toptext{
        font-size: 1rem;
        display: inline;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: -20rem;
    }
    .home-about-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: -20rem;
        font-size: 1rem;
        margin-bottom: -1rem;
    }
    .home-divider{
        width: 35rem;
        height: 2px;
        border: 0;
        background-color: #e75e03;
    }
    .divider-container{
        padding-top: 3rem;
        margin-right: 100rem;
        margin-left: -21rem;
        padding-left: 1rem;
    }
    .welcome-title{
        font-family: PoppinsBold;
        color: #cbd0d8;
        padding: 0;
        margin-top: 3rem;
        margin-left: -20rem;
        font-size: 2rem;
    }
    .welcome-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        margin-left: -20rem;
        font-size: 1rem;
        display: inline;
    }
    .counter-margin{
        margin-left: 0.3rem;
    }
    .about-link-text{
        font-size: 1rem;
        color: #e75e03;
        font-weight: normal;
        font-family: PoppinsBold;
        margin-left: 0.3rem;
        display: inline;
    }
    .bottom-message-text{
        font-family: PoppinsBold;
        color: #abb2bf;
        font-size: 0.8rem;
        width: 20rem;
    }
}