@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

.navbar-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

.navbar-number{
    font-size: 0.4rem;
    display: inline;
    color: #e75e03;
    font-weight: normal;
    font-family: PoppinsBold;
}

.navbar-item{
    color: #abb2bf;
    text-decoration: none;
    margin: 1.3rem;
    font-family: PoppinsBold;
    display: inline;
}
.navbar-splitter{
    font-size: 0.5rem;
}

.nav-item-container{
    display: inline;
    font-size: 0.4rem;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    font-size: 0.6rem;
}

.navbar-divider{
    width: 100%;
    height: 2px;
    border-width: 0;
    background-color: #abb2bf;
}
/* xs */
@media (min-width: 475px) {
    .navbar-container{
        max-width: 475px;
    }
    .nav-item-container,
    .navbar-number{
        font-size: 0.6rem;
    }
    .grow:hover{
        font-size: 1rem;
    }
    .navbar-item{
        margin: 1.4rem;
    }
    .navbar-splitter{
        font-size: 0.6rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .navbar-container{
        max-width: 640px;
    }
    .nav-item-container,
    .navbar-number{
        font-size: 0.8rem;
    }
    .grow:hover{
        font-size:1.2rem;
    }
    .navbar-item{
        margin: 1.5rem;
    }
    .navbar-splitter{
        font-size: 0.7rem;
    }
}

/* md */
@media (min-width: 768px) {
    .navbar-container{
        max-width: 768px;
    }
    .nav-item-container,
    .navbar-number{
        font-size: 1rem;
    }
    .grow:hover{
        font-size: 1.4rem;
    }
    .navbar-item{
        margin: 1.6rem;
    }
    .navbar-splitter{
        font-size: 0.8rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .navbar-container{
        max-width: 1024px;
    }
    .nav-item-container,
    .navbar-number{
        font-size: 1.2rem;
    }
    .grow:hover{
        font-size: 1.6rem;
    }
    .navbar-item{
        margin: 1.7rem;
    }
    .navbar-splitter{
        font-size: 0.9rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .navbar-container{
        max-width: 1280px;
    }
    .nav-item-container,
    .navbar-number{
        font-size: 1.4rem;
    }
    .grow:hover{
        font-size: 1.8rem;
    }
    .navbar-item{
        margin: 1.8rem;
    }
    .navbar-splitter{
        font-size: 1rem;
    }
}