@font-face {
    font-family: JetBrains;
    src: url('../fonts/webfonts/JetBrainsMono-Regular.woff2');
}

.navbar-container{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.navbar-number{
    font-size: 20px;
    display: inline;
    color: #e75e03;
    font-weight: normal;
}

.navbar-item{
    color: #abb2bf;
    text-decoration: none;
    margin: 30px;
    font-family: JetBrains;
    display: inline;
}

.nav-item-container{
    display: inline;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    font-size: 25px;
}

.navbar-divider{
    width: 70%;
    height: 2px;
    border-width: 0;
    color: #abb2bf;
    background-color: #abb2bf;
}
