@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
.portfolio-info{
    font-family: PoppinsBold;
    color: #cbd0d8;
    padding: 0;
    margin-left: 18rem;
    font-size: 3.3rem;
}
.portfolio-divider{
    width: 40%;
    height: 2px;
    border-width: 0;
    background-color: #e75e03;
    margin-left: 13rem;
}